@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  /* ใช้สี background ใหม่ที่ตั้งไว้ (สีครีมอ่อน) */
  background-color: #F2F0E4; 
  color: #305949; /* เปลี่ยนสีตัวหนังสือหลักเป็นเขียวเข้ม */
}